artifacts/
*.log
*.err.log
api-dev-server*
ui-dev-server*

**/bin/
**/obj/
**/.vs/
**/publish/

aws-rag-chat-ui/node_modules/
aws-rag-chat-ui/dist/
aws-rag-chat-ui/.angular/

.env
.env.*
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
local.settings.json
*.user
*.suo